name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          tags: upimapi:latest
          outputs: type=docker,dest=/tmp/upimapi.tar
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: upimapi
          path: /tmp/upimapi.tar

  txt-file-comma-separated:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: upimapi
          path: /tmp
      - name: Load Docker image
        run: docker load --input /tmp/upimapi.tar
      - name: IDs inputted through TXT file (comma-separated)
        run: docker run upimapi /bin/bash -c "upimapi -i UPIMAPI/ci/ids.csv -cols 'Entry&KEGG&Interacts with'"

  txt-file-newline-separated:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: upimapi
          path: /tmp
      - name: Load Docker image
        run: docker load --input /tmp/upimapi.tar
      - name: Full IDs inputted through TXT file (newline-separated)
        run: docker run upimapi /bin/bash -c "upimapi -i UPIMAPI/ci/full_ids.txt"

  blast-file:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: upimapi
          path: /tmp
      - name: Load Docker image
        run: docker load --input /tmp/upimapi.tar
      - name: IDs inputted through BLAST file
        run: docker run upimapi /bin/bash -c "upimapi -i UPIMAPI/ci/ids.blast -rd resources_directory --blast"

  get-fasta-sequences:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: upimapi
          path: /tmp
      - name: Load Docker image
        run: docker load --input /tmp/upimapi.tar
      - name: Obtain FASTA sequences
        run: docker run upimapi /bin/bash -c "upimapi -i UPIMAPI/ci/ids.csv -rd resources_directory --fasta"

  basic-id-mapping:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: upimapi
          path: /tmp
      - name: Load Docker image
        run: docker load --input /tmp/upimapi.tar
      - name: Perform basic ID mapping
        run: docker run upimapi /bin/bash -c "upimapi -i UPIMAPI/ci/ids.csv -rd resources_directory --from 'UniProtKB AC/ID' --to 'EMBL/GenBank/DDBJ CDS'"

  full-workflow:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: upimapi
          path: /tmp
      - name: Load Docker image
        run: docker load --input /tmp/upimapi.tar
      - name: Full workflow, TaxIDs DB at Species level
        run: docker run upimapi /bin/bash -c "upimapi -i UPIMAPI/ci/proteomes.fasta -rd resources_directory -db taxids --taxids 2203,2223,2209,2162,119484,35554,29543,863"
